
@{
    ViewBag.Title = "Index";
}

<style>
    .action-card {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>
<h2>Dashboard</h2>


<div class="container mt-5">
    <div class="row">

        <div class="col-md-4">
            <div class="card action-card bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">Manage Training</h5>
                    <p class="card-text">Click here to manage trainings</p>
                    <a href="@Url.Action("Index", "Training")" class="btn btn-light">Go</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card action-card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Add User</h5>
                    <p class="card-text">Click here to add a new user.</p>
                    <a href="#" class="btn btn-light">Go</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card action-card bg-warning text-white">
                <div class="card-body">
                    <h5 class="card-title">Enrollments</h5>
                    <p class="card-text">Click here to view</p>
                    <a href="@Url.Action("GetAllApprovedEnrollments", "Enrollment")" class="btn btn-light">Approved Enrollments</a>
                </div>
            </div>
        </div>

    </div>
</div>