
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Page</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <style>
        body {
            position: relative;
            background-image: url('../../content/myimages/login_bg.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        body::before {
             content: "";
             position: absolute;
             top: 0;
             right: 0;
             bottom: 0;
             left: 0;
             background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); 
             z-index: -1;
         }

        .card {
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 1;
        }

        .spinner-wrapper {
            background-color: rgba(0, 0, 0, 0.4);
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .spinner-border {
            height: 60px;
            width: 60px;
        }
    </style>


    <script type="text/javascript">
        $(document).ready(function () {
        
            $("#loginForm").submit(function (e) {
                e.preventDefault();

                $(".error-message").remove();
                $(".form-control").removeClass("is-invalid");

                var emailAddress = $("#emailAddress").val();
                var password = $("#password").val();

                // Validate Email Address
                if (!emailAddress) {
                    $("#emailAddress").addClass("is-invalid");
                    $("#emailAddress").after('<div class="invalid-feedback error-message">Email is required.</div>');
                }

                // Validate Password
                if (!password) {
                    $("#password").addClass("is-invalid");
                    $("#password").after('<div class="invalid-feedback error-message">Password is required.</div>');
                }

                if (!emailAddress || !password) {
                    return;
                }

                var authObj = { Email: emailAddress, Password: password };

                // Show spinner while waiting for the response
                $(".spinner-wrapper").show();


                $.ajax({
                    type: "POST",
                    url: "/Account/Authenticate",
                    data: authObj,
                    dataType: "json",
                    success: function (response) {
                        if (response.result) {
              
                            setTimeout(function () {
                                $(".spinner-wrapper").hide();
                                toastr.success("Login Successful...Redirecting to Home page...");
                                setTimeout(function () {
                                    window.location.href = response.url;
                                }, 500);
                            }, 500);

                        } else {
                            toastr.error('Invalid Email or Password');
                            $(".spinner-wrapper").hide();
                        }
                    },
                    error: function (error) {
                        console.log("Error:", error);
                        toastr.error('Something went wrong. Please try again later.');

                        $(".spinner-wrapper").hide();
                    },
                    //complete: function () {
                    //    // Hide spinner after a delay of 2 seconds
                    //    setTimeout(function () {
                    //        $(".spinner-wrapper").hide();
                    //    }, 1000);
                    //}
                });
            });

            $("#btnRegister").click(function () {
                window.location = '/Account/Register';
            });
        });
    </script>
</head>
<body>


    <div class="spinner-wrapper" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header">
                        <svg class="mx-auto d-flex justify-content-center" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                        <h3 class="text-center">Login</h3>
                    </div>

                    <div class="card-body">

                        <form id="loginForm">
                            <div class="form-group input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="emailAddress" class="input-group-text d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                        </svg>
                                    </label>
                                </div>
                                <input type="text" class="form-control" id="emailAddress" placeholder="Enter your Email Address">
                            </div>

                            <div class="form-group input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="password" class="input-group-text d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
                                        </svg>
                                    </label>
                                </div>
                                <input type="password" class="form-control" id="password" placeholder="Enter your password">
                            </div>

                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>

                        </form>

                    </div>
                    <div class="card-footer text-center">
                        <p>Don't have an account? </p>
                        <button type="button" class="btn btn-success" id="btnRegister">Register</button>
                        <div class="text-center">
                            <p>Go back to <strong>@Html.ActionLink("Home", "Index", "Home")</strong>  page.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
