<body>
    <h2>Index</h2>

    @*@using (Html.BeginForm("UploadFiles", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@
<div style="display: flex; flex-direction: column">
    <input class="fileUploader" type="file" name="files" id="fileSelector" multiple />
    <input class="fileUploader" type="file" name="files-id" id="fileSelector1" multiple />
    <input class="fileUploader" type="file" name="files-id" id="fileSelector2" multiple />
    <input type="submit" value="Upload" onclick="uploadFile()" />
</div>
    @*<input class="fileUploader" type="file" name="files" id="fileSelector" multiple />
        <input class="fileUploader" type="file" name="files-id" id="fileSelector1" multiple />
        <input type="submit" value="Upload" onclick="uploadFile()" />*@

    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>File Size</th>
            </tr>
        </thead>
        <tbody id="fileList">
        </tbody>
    </table>

</body>

<script>
    function uploadFile() {
        console.log("Entered func");
        const fileInputs = document.getElementsByClassName('fileUploader');
        //const files = fileInput[0].files;

        const formData = new FormData();

        for (const input of fileInputs) {
            var files = input.files;
            for (const element of files) {
                formData.append('files', element);
            }
        }

        //debugger;
        //for (const element of files) {
        //    formData.append('files', element);
        //}

        fetch('/Enrollment/UploadFiles', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log("File uploaded");
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>