@model IEnumerable<Common.SkillsForce.ViewModel.EnrollmentViewModel>

@{
    ViewBag.Title = "Index";
}

<style>
    .attachment-info-container {
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .prerequisite-name {
        font-weight: bold;
    }

    .file-name {
        color: #555;
    }

    .view-attachment-btn,
    .download-attachment-btn {
        margin-top: 5px;
    }
</style>

<script src="~/Scripts/jquery-3.7.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript" src="
    https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
@*
    https://codeseven.github.io/toastr/*@
<script type="text/javascript" src="
    https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="
    https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>*@



<div id="EnrollmentsMessage" class="alert alert-info mt-3">
    No enrollments

</div>

<div class="table-responsive container-fluid mt-5 mb-5">
        <div class="container-fluid mt-3">
            <div id="enrollmentTableContainer" class="overflow-x-scroll">
                <table id="enrollmentTable" class="table table-striped table-hover table-bordered mt-4">
                    <thead>
                        <tr>
                            <th>Enrollment ID</th>
                            <th>User ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Training Name</th>
                            <th>Department Name</th>
                            <th>Enrollment Date</th>
                            <th>Enrollment Status</th>
                            <th>Actions</th>
                            <th>Attachments</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
</div>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#attachmentModal">
    Launch demo modal
</button>-->
<!-- Modal -->
@*<div class="modal fade" id="attachmentModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@









<div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationModalLabel">View Prerequisite Attachment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="attachmentModalBody"></div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog" aria-labelledby="rejectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectionModalLabel">Rejection Reason</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="rejectionForm">
                    <div class="form-group">
                        <label for="rejectionReason">Reason for Rejection:</label>
                        <textarea class="form-control" id="rejectionReason" name="rejectionReason" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


@*<link href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/dt-1.13.8/af-2.6.0/date-1.5.1/r-2.5.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/dt-1.13.8/af-2.6.0/date-1.5.1/r-2.5.0/datatables.min.js"></script>*@






<link href="
    https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"
      rel="stylesheet" />


<script defer src="
    https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script defer src="
    https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<link href="
    https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"
      rel="stylesheet" />
<script defer src="
    https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script defer src="


    https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<link href="
    https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"
      rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('#enrollmentTable').DataTable({
            responsive: true,
            "ajax": {
                "url": "/Enrollment/GetEnrollmentsData", // Update this URL to match your controller's action
                "type": "POST",  // Corrected to POST
                "datatype": "json",
                "dataSrc": function (data) {
                    console.log('Data retrieved successfully:', data);
                    // Check if data is null
                    if (data === null || data.length === 0) {
                        $('#EnrollmentsMessage').show();
                        $('#enrollmentTableContainer').hide();
                        return [];
                    } else {
                        $('#EnrollmentsMessage').hide();
                        $('#enrollmentTableContainer').show();
                        return data;
                    }
                },
                "error": function (xhr, error, thrown) {
                    console.error('Error fetching data:', error);
                }
            },
            "columns": [
                { "data": "EnrollmentID" },
                { "data": "UserID" },
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "TrainingName" },
                { "data": "DepartmentName" },
                {
                    "data": "EnrollmentDate",
                    "render": function (data) {
                        return formatDateTime(data);
                    }
                },
                {
                    "data": 'EnrollmentStatus',
                    render: function (data, type, row) {
                        var badgeClass = '';
                        if (data === 'Approved') {
                            badgeClass = 'badge bg-success';
                        } else if (data === 'Rejected') {
                            badgeClass = 'badge bg-danger';
                        } else if (data === 'Pending') {
                            badgeClass = 'badge bg-secondary';
                        }

                        return `<span class="${badgeClass}">${data}</span>`;
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        // Modify the conditions based on your approval logic
                        return data.EnrollmentStatus === "Pending"
                            ? '<button class="btn btn-primary me-2 approve-btn" data-toggle="modal" data-enrollment-id="' + data.EnrollmentID + '" onclick="approveEnrollment(' + data.EnrollmentID + ', $(this))" >Approve</button>' +
                            '<button class="btn btn-danger me-2 reject-btn" data-enrollment-id="' + data.EnrollmentID + '"  onclick="rejectEnrollment(' + data.EnrollmentID + ', $(this))">Reject</button>'
                            : data.EnrollmentStatus === "Approved"
                                ? '<button class="btn btn-primary me-2 approve-btn" data-enrollment-id="' + data.EnrollmentID + '" disabled>Approve</button>' +
                                '<button class="btn btn-danger me-2 reject-btn" data-enrollment-id="' + data.EnrollmentID + '"onclick="rejectEnrollment(' + data.EnrollmentID + ', $(this))" >Reject</button>'
                                : '<button class="btn btn-primary me-2 approve-btn" data-enrollment-id="' + data.EnrollmentID + '" onclick="approveEnrollment(' + data.EnrollmentID + ', $(this))">Approve</button>' +
                                '<button class="btn btn-danger me-2 reject-btn" data-enrollment-id="' + data.EnrollmentID + '" disabled >Reject</button>';
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        return '<button type="button" class="btn btn-info view-attachments-btn" data-bs-toggle="modal" data-bs-target="#attachmentModal" onclick="showAttachments(' + data.EnrollmentID + ')">View</button>';
                    }
                }
            ]
        });




        function formatDateTime(timestamp) {
            // Extracting only unix timestamp
            var match = timestamp.match(/\d+/);
            var numericPart = match ? match[0] : null;

            // Make sure to treat as millisecond
            const dateObject = new Date(parseInt(numericPart, 10))
            const day = String(dateObject.getDate()).padStart(2, '0')
            const month = String(dateObject.getMonth() + 1).padStart(2, '0')
            const year = dateObject.getFullYear()
            return `${year}-${month}-${day}`
        }



    });
</script>

@section scripts {
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };


        function approveEnrollment(enrollmentId, button) {
            var userId = parseInt("@HttpContext.Current.Session["UserID"]");

            button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Approving...');


            $.ajax({
                url: '/Enrollment/ApproveEnrollment',
                type: 'POST',
                data: { enrollmentId: enrollmentId, approvedByUserId: userId },
                success: function (result) {
                    if (result.success) {
                        //button.closest('tr').find('td:eq(7)').html('Approved');
                        button.prop('disabled', true);
                        button.siblings('.reject-btn').prop('disabled', false);
                        toastr.success("Enrollment Approved Successfully.");
                        //setTimeout(() => {

                        //    window.location.reload();
                        //}, 500)
                        setTimeout(() => {

                            window.location.reload();
                        }, 2000)

                    } else {
                        alert('Error approving enrollment: ' + result.message);
                    }
                },
                error: function () {
                    alert('Error approving enrollment.');
                },
                complete: function () {
                    // Remove loading spinner from the button after AJAX completes
                    button.html('Approve');
                }
            });
        }


        function rejectEnrollment(enrollmentId, button) {


            // Get a reference to the submit button inside the modal


            var userId = parseInt("@HttpContext.Current.Session["UserID"]");

            // Show rejection modal
            $('#rejectionModal').modal('show');



            $('#rejectionForm').off('submit');
            // Submit rejection reason when the form is submitted
            $('#rejectionForm').submit(function (event) {

                button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Rejecting...');
                event.preventDefault();

                var rejectionReason = $('#rejectionReason').val();
                console.log(userId)
                $.ajax({
                    url: '/Enrollment/RejectEnrollment',
                    type: 'POST',
                    data: { enrollmentId: enrollmentId, rejectionReason: rejectionReason, declinedByUserId: userId },
                    success: function (result) {
                        if (result.success) {
                           // button.closest('tr').find('td:eq(7)').html('Rejected');
                            button.prop('disabled', true);
                            button.siblings('.approve-btn').prop('disabled', false);
                            $('#rejectionModal').modal('hide');
                            toastr.success("Enrollment Rejected Successfully.");
                            setTimeout(() => {

                            window.location.reload();
                            }, 2000)

                        } else {
                            alert('Error rejecting enrollment: ' + result.message);
                        }
                    },
                    error: function () {
                        alert('Error rejecting enrollment.');
                    },
                    complete: function () {
                        // Remove loading spinner from the button after AJAX completes
                        button.html('Reject');
                    }
                });
            });
        }


        function showAttachments(enrollmentId) {
            $.ajax({
                url: '/Attachment/GetAllAttachmentByEnrollmentID',
                type: 'GET',
                data: { enrollmentID: parseInt(enrollmentId) },
                dataType: "json",
                success: function (result) {
                    var attachments = result.result;
                    var modalBody = $('#attachmentModalBody');
                    modalBody.empty();

                    for (let i = 0; i < attachments.length; i++) {
                        var attachmentInfo = attachments[i];
                        var viewButton = $('<button class="btn btn-info view-attachment-btn" data-attachment-id="' + attachmentInfo.AttachmentID + '">View</button>');
                        var downloadButton = $('<button class="btn btn-success download-attachment-btn ml-2" data-attachment-id="' + attachmentInfo.AttachmentID + '">Download</button>');

                        var attachmentInfoContainer = $('<div class="attachment-info-container"></div>');
                        attachmentInfoContainer.append('<p class="prerequisite-name">Prerequisite Name: ' + attachmentInfo.PrerequisiteName + '</p>');
                        attachmentInfoContainer.append('<p class="file-name">File Name: ' + attachmentInfo.FileName + '</p>');
                        attachmentInfoContainer.append(viewButton);
                        attachmentInfoContainer.append(downloadButton);

                        modalBody.append(attachmentInfoContainer);

                        viewButton.click(function () {
                            var attachmentId = $(this).data("attachment-id");
                            window.open('/Attachment/ViewAttachmentByAttachmentID/' + attachmentId, '_blank');
                        });

                        downloadButton.click(function () {
                            var attachmentId = $(this).data("attachment-id");
                            window.location.href = '/Attachment/DownloadAttachmentByAttachmentID/' + attachmentId;
                        });
                    }

                    $('#attachmentModal').modal('show');
                },
                error: function (e) {
                    alert('Error fetching attachments.');
                }
            });
        }

    </script>
}

